*,
*::before,
::after {
  box-sizing: border-box;
}
body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #5f5452;
  overflow-x: hidden;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
  font-family: inherit;
  color: inherit;
  transition: 0.3s;
  &:hover {
    color: #c08e71;
  }
}
p,
body,
div,
section,
nav,
header,
footer,
aside {
  margin: 0;
  padding: 0;
}
label {
  display: block;
}
button {
  display: inline-block;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}