/*font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Playfair Display', serif;*/
@import "global";
@import "vars";
@import "fonts";
.header {
  background: rgba(229, 215, 204, 0.2);
  color: #5f5452;
  padding-top: 42px;
  position: relative;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__top-contacts {
  font-weight: 700;
  font-size: 22px;
}
.header__tel {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 23px;
    height: 23px;
    top: 7px;
    left: -20%;
    background-image: url(../images/phone.svg);
  }
}
.logo {
  margin-right: 30px;
}
.menu__list {
  margin-right: 30px;
}
.header__top-contactstext {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
}
.menu__item {
  display: inline-block;
  & + .menu__item {
    margin-left: 67px;
  }
}
.container-fluid {
  max-width: 1600px !important;
}
.hamburger {
  width: 30px;
  cursor: pointer;
  display: none;
}
.hamburger__line {
  background-color: #5f5452;
  height: 3px;
  margin-bottom: 5px;
}
.header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-title {
  font-family: "Playfair Display", serif;
  font-size: 75px;
  font-weight: 400;
  line-height: 111.8%;
  margin-bottom: 37px;
  span {
    color: #c08e71;
    font-style: italic;
  }
}
.header__box-texttop {
  position: relative;
  line-height: 25px;
  margin-bottom: 51px;
  &::after {
    content: "";
    position: absolute;
    max-width: 318px;
    width: 100%;
    display: block;
    height: 1px;
    margin-top: 15px;
    background-color: #c08e71;
  }
}
.header__box-textbottom {
  font-size: 24px;
  max-width: 800px;
  span {
    font-weight: 900;
  }
}
.action-date {
  font-size: 16px;
  margin-top: 100px;
}
.yellow-italic {
  font-style: italic;
  color: #c08e71;
  font-family: "Playfair Display", serif;
}
.title {
  font-family: "Playfair Display", serif;
  font-size: 46px;
  text-align: center;
  line-height: 120%;
  font-weight: 400;
  margin-bottom: 30px;
  span {
    font-style: italic;
    color: #c08e71;
  }
}
.second {
  background-repeat: no-repeat;
  background-position: 0 110px;
  padding-top: 164px;
  padding-bottom: 200px;
  .jq-selectbox {
    width: 100%;
    margin-bottom: 40px;
  }
  .jq-selectbox__select {
    height: 58px;
    padding: 12px 44px;
    border: 1px solid #5f5452;
    background: none;
    border-radius: 3px;
  }
  .jq-selectbox__select-text {
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    color: #5f5452;
  }
  .jq-selectbox__trigger-arrow {
    border: none;
    width: 17px;
    height: 17px;
    background-image: url(../images/select-icon.svg);
    background-repeat: no-repeat;
    top: 50%;
    transform: translateY(-50%);
  }
  .jq-selectbox__trigger {
    border-left: none;
  }
  .jq-checkbox,
  .jq-radio {
    width: 25px;
    height: 25px;
    background: none;
    border: 1px solid #5f5452;
    box-sizing: border-box;
    border-radius: 3px;
  }
  .jq-checkbox.checked .jq-checkbox__div {
    border: none;
    width: 14px;
    height: 11px;
    border-bottom: 2px solid #5f5452;
    border-left: 2px solid #5f5452;
    -webkit-transform: rotate(-50deg);
  }
}
.form-inner {
  display: flex;
  justify-content: space-between;
}
.second__text {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 91px;
}
.second__form {
  border-radius: 0 100px;
  background: #f3eeea;
  border: 1px solid #c08e71;
  max-width: 1200px;
  margin: 0 auto;
  padding: 76px 100px;
  select {
    margin-bottom: 40px;
    width: 100%;
    height: 58px;
    padding: 15px 44px;
  }
  label {
    margin-bottom: 25px;
    font-size: 20px;
    input[type="checkbox"] {
      margin-right: 18px;
    }
  }
}
.form-elem-title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 25px;
}
.form-choose {
  font-size: 16px;
  font-weight: 300;
  margin-left: 35px;
  margin-bottom: 69px;
}
.form-input-field {
  display: inline-block;
  width: calc(33.3% - 17px);
  & + .form-input-field {
    margin-left: 17px;
  }
  border: 1px solid #5f5452;
  border-radius: 3px;
  padding: 14px 32px;
  &::placeholder {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #5f5452;
  }
}
.form-submit {
  margin-left: 17px;
  width: calc(33.3% - 17px);
  background: #5da45d;
  border-radius: 3px;
  color: #fff;
  border: none;
  font-family: Nunito, sans-serif;
  font-size: 18px;
  line-height: 170%;
  padding: 14px;
}
.form-input-field-inner {
  display: flex;
  justify-content: start;
}
.form-agree {
  font-family: Nunito, sans-serif;
  margin-right: 100px;
  float: right;
  font-weight: 200;
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
  padding-left: 18px;
  position: relative;
  &::before {
    content: "";
    width: 12px;
    height: 12px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(../images/agree.png);
    background-repeat: no-repeat;
  }
  a {
    text-decoration: underline;
  }
}

.second__few-words {
  margin-top: 255px;
}
.second__few-wordsinner {
  display: flex;
  justify-content: start;
  align-items: center;
}
.second__few-wordsitem-first {
  margin-right: 71px;
}
.second__few-wordstitle {
  position: relative;
  left: -120px;
  font-family: "Playfair Display", serif;
  font-size: 46px;
  max-width: 350px;
  padding-bottom: 30px;
  margin-bottom: 36px;
  span {
    font-style: italic;
  }
  &::after {
    content: "";
    display: block;
    left: 120px;
    bottom: 0;
    position: absolute;
    background-color: #c08e71;
    width: 318px;
    height: 1px;
  }
}
.second__few-wordstext {
  font-size: 20px;
  max-width: 440px;
  p {
    margin-bottom: 35px;
  }
}
.our__mission {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 30px;
  line-height: 158.3%;
  color: #fff;
  background-color: #e2b184;
  padding: 75px 0;
}
.third-section {
  padding-top: 200px;
  padding-bottom: 215px;
  background-color: #f4f0ed;
  .title {
    margin-bottom: 90px;
  }
  .third-section__subtitle {
    text-align: center;
    font-size: 36px;
    line-height: 49px;
    font-weight: 600;
    margin-bottom: 69px;
  }
}
.third-section_video-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 115px;
}
.third-section_video {
  width: 100%;
  height: 459px;
}

.third-section__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.third-section__item {
  width: 49%;
  border: 1px solid #c08e71;
  box-sizing: border-box;
  border-radius: 0px 50px;
  padding: 65px 40px;
  margin-bottom: 36px;
  transition: all 0.3s ease;
  &:hover {
    background-color: #ebd1b9;
  }
}
.third-section__item-title {
  font-weight: 500;
  font-size: 27px;
  line-height: 120%;
  font-family: "Playfair Display", serif;
  padding-bottom: 20px;
  position: relative;
  margin-bottom: 11px;
  max-width: 515px;
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 318px;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #c08e71;
  }
}
.third-section__item-text {
  line-height: 140%;
  max-width: 515spx;
}
/*about*/
.about {
  background-color: #f3efec;
  position: relative;
  .splide__pagination {
    display: none;
  }
  .splide__arrow--prev {
    left: -3em;
  }
  .splide__arrow {
    background-color: transparent;
  }
}
.splide__slide {
  text-align: center !important;
}
.about__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.about__name {
  font-family: "Playfair Display", serif;
  font-size: 46px;
  line-height: 120%;
  margin-bottom: 22px;
}
.about__text {
  font-size: 20px;
  line-height: 130%;
  margin-bottom: 36px;
  padding-bottom: 32px;
  max-width: 465px;
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 318px;
    left: 0;
    bottom: 0;
    height: 1px;
    background-color: #c08e71;
  }
}
.about__info-list {
  max-width: 700px;
}
.about__info-item {
  position: relative;
  padding-left: 19px;
  line-height: 25px;
  margin-bottom: 25px;
  &::before {
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #5f5452;
    border-radius: 100%;
  }
}
.about__slider-inner {
}

.figurine {
  background-color: #f3efec;
}
.figurine__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title {
    text-align: left;
  }
}
.tv {
  padding-bottom: 200px;
  background-color: #f3efec;
  padding-top: 120px;
}
.tv__subtitle {
  text-align: center;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 90px;
}
.tv__slider {
  .splide__arrow {
    background-color: transparent;
  }
  .splide__pagination {
    display: none;
  }
  .splide__slide {
    iframe {
      width: 448px;
      height: 285px;
    }
  }
  .splide__slide.is-active {
    iframe {
      transform: scale(120%);
      object-fit: cover;
    }
    .tv__slider-itemtitle {
      display: block;
    }
  }
  .tv__slider-itemtitle {
    text-align: center;
    display: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: auto;
    width: 370px;
  }
}
.services {
  background-color: #f3efec;
  padding-bottom: 200px;
}
.services__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.services__item {
  width: 31.66%;
  border: 3px solid #c08e71;
  padding-top: 52px;
  padding-bottom: 47px;
  padding-left: 31px;
  padding-right: 31px;
  margin-bottom: 30px;
}
.services__item-img {
  margin-bottom: 47px;
}
.services__item-title {
  margin-bottom: 38px;
  font-size: 24px;
  line-height: 33px;
  max-width: 300px;
}
.services__subtitle {
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  margin-bottom: 90px;
}
.services__item-link {
  position: relative;
  padding-right: 66px;
  &::after {
    content: "";
    position: absolute;
    height: 8px;
    width: 49px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../images/arrow-right-icon.png);
  }
}
.reviews {
  background-color: #f3efec;
  padding-bottom: 200px;
}
.about__slider {
  max-height: 315px;
}
.about__slider-item {
  img {
    object-fit: cover;
    max-width: 100%;
    height: 214px;
  }
}
.reviews__title {
  margin-bottom: 80px;
}
.reviews__first-slider {
  margin: 0 -30px;
  margin-bottom: 60px;
}
.reviews__first-slider-item {
  margin: 0 30px;
  position: relative;
  img {
    width: 424px;
    height: 287px;
  }
  &.slick-center {
    img {
      width: 556px;
      height: 376px;
    }
    .overlay {
      display: none;
    }
  }
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(170, 113, 83, 0.6);
  border-radius: 0px 50px;
}
.reviews {
  .slick-arrow {
    top: auto;
    bottom: -33px;
    z-index: 20;
    &::before {
      display: none;
    }
  }
  .slick-prev {
    left: 35%;
  }
  .slick-next {
    right: 35%;
  }
  .slick-dots {
    .slick-active {
      button {
        width: 20px;
        height: 20px;
        background-color: #c08e71;
      }
    }
    li {
      button {
        width: 14px;
        height: 14px;
        background-color: #ebd1b9;
        border-radius: 50%;
        &::before {
          display: none;
        }
      }
    }
  }
}
.reviews__second-slider {
  margin-bottom: 200px !important;
}
.reviews__second-slider-title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 21px;
  max-width: 711px;
  margin: 0 auto;
}
.reviews__second-slider-text {
  margin: 0 auto;
  max-width: 711px;
  text-align: center;
  margin-bottom: 64px;
}

/*form*/
.form__inner {
  display: flex;
  justify-content: space-between;
}
.form__title {
  text-align: left;
}
.form__left {
  position: relative;
  max-width: 650px;
  .action-date {
    position: static;
  }
}
.form__right {
  max-width: 410px;
  input,
  button {
    width: 100%;
    margin-bottom: 34px;
  }
  input {
    background-color: transparent;
    border: 1px solid #5f5452;
    border-radius: 3px;
    padding: 14px 20px;
    &::placeholder {
      color: rgba(124, 84, 75, 0.6);
      font-size: 18px;
      font-family: "Nunito Sans", sans-serif;
    }
  }
}
section.form {
  background-color: #eedccc;
  padding: 100px 0;
  margin-bottom: 200px;
  .form__text {
    max-width: 560px;
    line-height: 158.3%;
    margin-bottom: 63px;
  }
  .form__submit {
    background: #5da45d;
    border-radius: 3px;
    border: none;
    outline: none;
    color: #fff;
    font-family: Nunito, serif;
    padding: 14px;
    font-size: 18px;
    line-height: 170%;
  }
}
.faq-title.title {
  margin-bottom: 79px;
}
.faq__item-title {
  display: block;
  font-size: 27px;
  line-height: 37px;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  padding-right: 20px;
  transition: all 0.4s;
  &::after {
    content: "";
    width: 22px;
    height: 22px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../images/plus-icon.svg);
  }
}
.faq__item {
  padding: 50px 0;
  border-top: 1px solid #c08e71;
}
.faq__input {
  appearance: none;
  position: absolute;
  width: 0;
  height: 0;
}
.faq__text {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 158.3%;
}
.faq__input:checked ~ .faq__text {
  opacity: 1;
  height: auto;
  overflow: visible;
  margin-top: 48px;
}
.faq__input:checked {
  .faq__item-title::after {
    transition: all 0.3s;
    transform: rotate(45deg) !important;
  }
}
.faq__item-title.active {
  &::after {
    transform: rotate(45deg);
  }
}
.map {
  background-color: #f3efec;
  padding-bottom: 80px;
  padding-top: 100px;
  .container__fluid {
    min-height: 800px;
    position: relative;
  }
  iframe {
    position: absolute;
    right: 0;
    top: 0;
  }
  .map__content {
    position: absolute;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-right: 160px;
    padding-left: 10%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    max-width: 850px;
    background: #ebd1b9;
    box-shadow: 0px 15px 15px rgba(183, 161, 155, 0.2);
    border-radius: 0px 50px 0px 0px;
  }
  .map__logo {
    margin-bottom: 24px;
  }
  .map__title.title {
    font-size: 27px;
    text-align: left;
    max-width: 500px;
    margin-bottom: 40px;
  }
  .map__address {
    line-height: 158%;
    position: relative;
    padding-left: 35px;
    &::before {
      content: "";
      position: absolute;
      width: 24px;
      height: 26px;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      background-image: url(../images/map-icon.svg);
      background-repeat: no-repeat;
    }
    span {
      font-weight: 700;
    }
  }
  .header__tel {
    font-weight: 700;
    padding-left: 35px;
    margin-top: 24px;
    &::before {
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .header__tel + p {
    font-size: 14px;
    padding-left: 35px;
    line-height: 19px;
  }
  .map__email {
    margin-left: 35px;
    margin-top: 15px;
  }
}
.footer {
  background-color: #f3efec;
  .container {
    padding: 33px 0;
    border-top: 1px solid #b7a19b;
  }
  .footer__left-text,
  .footer__right-text {
    color: #c08e71;
  }
  .footer__right-text {
    text-align: right;
  }
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@import "media";
